<div class="flex flex-col relative">
  <img class="w-full h-auto absolute" src="assets/blob.png" />
  <div class="w-full relative p-4 lg:p-8">
    <img class="w-full h-auto rounded-full p-4 z-10" src="assets/profile.png" />
  </div>
  <div class="w-full flex flex-col p-4 lg:p-8">
    <p class="full-name">{{data?.firstName + ' ' + data?.lastName}}</p>
    <label class="heading">Acerca de mi</label>
    <p class="regular p-4 md:p-8">{{data?.aboutMe?.en}}</p>
    <label class="heading">Contacto</label>

    <div class="regular contact-list flex flex-col p-4 md:p-8">
      <div class="flex flex-row items-center flex-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
        <p>{{data?.contact?.phone}}</p>
      </div>
      <div class="flex flex-row items-center flex-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
        </svg>
        <p class="regular">{{data?.contact?.email}}</p>
      </div>
      <div class="flex flex-row items-center flex-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
        </svg>
        <p class="regular">{{data?.contact?.linkedin}}</p>
      </div>
    </div>
  </div>
</div>