.full-name {
  @apply text-xl my-8 text-center font-bold;
}

.contact-list {
  svg {
    @apply w-6 h-6;
    color: #8F7CFF;
  }
  p {
    margin-bottom: 0;
  }
}

.toggle-language {
  background-color: #E9E9E9;
  width: fit-content;
  color: #8F7CFF;
  padding: 10px 20px;
  align-self: flex-end;
  margin: 0 20px;
}

@screen lg {
  .full-name {
    @apply text-3xl;
  }
}